/* 
  bg: #f5f5f5

  black: #1A1A1A
  white: #FAFAFA

  accent:
  primary: #8B93FF
  yellow: #ffce5c
  green: #22C55E
  dark blue: #1E40AF
  light blue: #7DD3FC
  cyan: #06B6D4
  orange: #FB923C
*/

:root {
  --cbd-bg: #f5f5f5;
  --cbd-black: #1a1a1a;
  --cbd-white: #fafafa;
  --cbd-primary: #FF6F4F;
  --cbd-blue-calm: #8b93ff;
  --cbd-yellow: #FFCE59;
  --cbd-green: #4caf50;
  --cbd-darkblue: #111112;
  --cbd-lightblue: #7dd3fc;
  --cbd-cyan: #33f6b3;
  --cbd-orange: #fb923c;
  --cbd-purple: #a26eec;
  --cbd-pink: #fc7c82;
  --cbd-orange-red: #FF6F4F;
}

.cbd-text-align {
  text-align: center;
}

.cbd-section-title {
  text-align: center;
  font-size: 80px;
}

.cbd-bg-color {
  background-color: #f5f5f5 !important;
}

.cbd-text-color {
  color: #0e0f11;
}

.cbd-color-primary-bg {
  background-color: var(--cbd-primary) !important;
}

.cbd-color-primary {
  color: #ff6b35 !important;
}

.cbd-pink-btn {
  background-color: var(--cbd-pink) !important;
  border-color: var(--cbd-pink) !important;
  color: var(--cbd-black) !important;
}

.cbd-orange-btn {
  background-color: var(--cbd-orange) !important;
  border-color: var(--cbd-orange) !important;
  color: var(--cbd-black) !important;
}

.cbd-purple-btn {
  background-color: var(--cbd-purple) !important;
  border-color: var(--cbd-purple) !important;
  color: var(--cbd-black) !important;
}

.cbd-black-btn {
  background-color: var(--cbd-black) !important;
  border-color: var(--cbd-black) !important;
  color: var(--cbd-white) !important;
}

.cbd-yellow-block {
  background-color: var(--cbd-yellow) !important;
  border-color: var(--cbd-yellow) !important;
  color: #1a1a1a !important;
}

.cbd-orange-block {
  background-color: #fb923c !important;
  border-color: #fb923c !important;
  color: #1a1a1a !important;
}

.cbd-cyan-block {
  background-color: #06b6d4 !important;
  border-color: #06b6d4 !important;
  color: #1a1a1a !important;
}

.cbd-pink-block {
  background-color: #fb923c !important;
  border-color: #fb923c !important;
  color: #1a1a1a !important;
}


span.empty-space {
  display: block;
  width: 100%;
  float: revert;
  clear: both;
}