.montserrat-alternates-thin {
  font-family: "Montserrat Alternates", sans-serif !important;
  font-weight: 100 !important;
  font-style: normal !important;
}

.montserrat-alternates-extralight {
  font-family: "Montserrat Alternates", sans-serif !important;
  font-weight: 200 !important;
  font-style: normal !important;
}

.montserrat-alternates-light {
  font-family: "Montserrat Alternates", sans-serif !important;
  font-weight: 300 !important;
  font-style: normal !important;
}

.montserrat-alternates-regular {
  font-family: "Montserrat Alternates", sans-serif !important;
  font-weight: 400 !important;
  font-style: normal !important;
}

.montserrat-alternates-medium {
  font-family: "Montserrat Alternates", sans-serif !important;
  font-weight: 500 !important;
  font-style: normal !important;
}

.montserrat-alternates-semibold {
  font-family: "Montserrat Alternates", sans-serif !important;
  font-weight: 600 !important;
  font-style: normal !important;
}

.montserrat-alternates-bold {
  font-family: "Montserrat Alternates", sans-serif !important;
  font-weight: 700 !important;
  font-style: normal !important;
}

.montserrat-alternates-extrabold {
  font-family: "Montserrat Alternates", sans-serif !important;
  font-weight: 800 !important;
  font-style: normal !important;
}

.montserrat-alternates-black {
  font-family: "Montserrat Alternates", sans-serif !important;
  font-weight: 900 !important;
  font-style: normal !important;
}

.montserrat-alternates-thin-italic {
  font-family: "Montserrat Alternates", sans-serif !important;
  font-weight: 100 !important;
  font-style: italic !important;
}

.montserrat-alternates-extralight-italic {
  font-family: "Montserrat Alternates", sans-serif !important;
  font-weight: 200 !important;
  font-style: italic !important;
}

.montserrat-alternates-light-italic {
  font-family: "Montserrat Alternates", sans-serif !important;
  font-weight: 300 !important;
  font-style: italic !important;
}

.montserrat-alternates-regular-italic {
  font-family: "Montserrat Alternates", sans-serif !important;
  font-weight: 400 !important;
  font-style: italic !important;
}

.montserrat-alternates-medium-italic {
  font-family: "Montserrat Alternates", sans-serif !important;
  font-weight: 500 !important;
  font-style: italic !important;
}

.montserrat-alternates-semibold-italic {
  font-family: "Montserrat Alternates", sans-serif !important;
  font-weight: 600 !important;
  font-style: italic !important;
}

.montserrat-alternates-bold-italic {
  font-family: "Montserrat Alternates", sans-serif !important;
  font-weight: 700 !important;
  font-style: italic !important;
}

.montserrat-alternates-extrabold-italic {
  font-family: "Montserrat Alternates", sans-serif !important;
  font-weight: 800 !important;
  font-style: italic !important;
}

.montserrat-alternates-black-italic {
  font-family: "Montserrat Alternates", sans-serif !important;
  font-weight: 900 !important;
  font-style: italic !important;
}



.ibm-plex-mono-thin {
  font-family: "IBM Plex Mono", monospace !important; 
  font-weight: 100;
  font-style: normal;
}

.ibm-plex-mono-extralight {
  font-family: "IBM Plex Mono", monospace !important; 
  font-weight: 200;
  font-style: normal;
}

.ibm-plex-mono-light {
  font-family: "IBM Plex Mono", monospace !important; 
  font-weight: 300;
  font-style: normal;
}

.ibm-plex-mono-regular {
  font-family: "IBM Plex Mono", monospace !important; 
  font-weight: 400;
  font-style: normal;
}

.ibm-plex-mono-medium {
  font-family: "IBM Plex Mono", monospace !important; 
  font-weight: 500;
  font-style: normal;
}

.ibm-plex-mono-semibold {
  font-family: "IBM Plex Mono", monospace !important; 
  font-weight: 600;
  font-style: normal;
}

.ibm-plex-mono-bold {
  font-family: "IBM Plex Mono", monospace !important; 
  font-weight: 700;
  font-style: normal;
}

.ibm-plex-mono-thin-italic {
  font-family: "IBM Plex Mono", monospace !important; 
  font-weight: 100;
  font-style: italic;
}

.ibm-plex-mono-extralight-italic {
  font-family: "IBM Plex Mono", monospace !important; 
  font-weight: 200;
  font-style: italic;
}

.ibm-plex-mono-light-italic {
  font-family: "IBM Plex Mono", monospace !important; 
  font-weight: 300;
  font-style: italic;
}

.ibm-plex-mono-regular-italic {
  font-family: "IBM Plex Mono", monospace !important; 
  font-weight: 400;
  font-style: italic;
}

.ibm-plex-mono-medium-italic {
  font-family: "IBM Plex Mono", monospace !important; 
  font-weight: 500;
  font-style: italic;
}

.ibm-plex-mono-semibold-italic {
  font-family: "IBM Plex Mono", monospace !important; 
  font-weight: 600;
  font-style: italic;
}

.ibm-plex-mono-bold-italic {
  font-family: "IBM Plex Mono", monospace !important; 
  font-weight: 700;
  font-style: italic;
}
